.hab {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);

    @media (min-width: $tablet) {
        row-gap: rem(40);
    }
    @media (min-width: $mobile) and (max-width: $tablet) {
        row-gap: rem(24);
    }

    &__article {
        position: relative;
        padding: rem(21) rem(16) rem(40);
        border-radius: 8px;
        counter-reset: article-center-title;
        @media (min-width: $tablet) {
            padding: rem(32) rem(56) rem(56);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            padding: rem(24) rem(36) rem(40);
        }
    }

    &__link {
        display: inline-block;
        margin-bottom: rem(20);
        font-size: rem(18);
        font-weight: 700;
        color: #4d72d3;
        @media (min-width: $mobile) {
            margin-bottom: rem(32);
        }
    }

    &__title {
        margin-bottom: em(30, 28);
        @media (min-width: $mobileSmall) {
            margin-bottom: em(24, 40);
        }
    }

    &__share {
        @media (min-width: $mobile) {
            margin-bottom: rem(38);
        }
    }

    &__text {
        font-size: rem(18);
        line-height: 1.6;
    }

    &__cards {
        display: grid;
        row-gap: rem(16);

        @media (min-width: $tablet) {
            gap: rem(40);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            gap: rem(24);
        }
        @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
.share {
    &_hide {
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &_column {
        @media (min-width: $mobile) {
            display: none;
        }
        position: fixed;
        right: rem(24);
        bottom: rem(34);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(8);
        z-index: 2;
        border-radius: 29px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: rem(8);

        &_column {
            @media (max-width: $mobile) {
                flex-direction: column-reverse;
                border-radius: 100px;
                width: rem(54);
                padding: rem(11) 0;
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
                transform: translateY(25%);
                visibility: hidden;
                opacity: 0;
                transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
                & > li:nth-child(3) {
                    order: 1;
                }

                & > li:nth-child(2) {
                    order: -1;
                }
            }
        }

        &_show {
            @media (max-width: $mobile) {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__button {
        height: rem(32);
        border-radius: 4px;
        transition: opacity 0.3s, transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }

        &:active {
            opacity: 0.8;
            transform: scale(0.95);
        }

        &:not(.share__button_circle) {
            svg {
                fill: #ffffff;
            }
        }

        &_circle {
            svg {
                @media (min-width: $mobile) {
                    fill: #ffffff;
                }
            }

            & > .share__num {
                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }

        &_facebook {
            &:not(.share__button_circle) {
                background-color: #3b5998;

                svg {
                    width: rem(8);
                    height: rem(17);
                }
            }

            &_circle {
                @media (min-width: $mobile) {
                    background-color: #3b5998;
                }
                svg {
                    width: rem(11);
                    height: rem(22);
                    @media (min-width: $mobile) {
                        width: rem(8);
                        height: rem(17);
                    }
                    @media (max-width: $mobile) {
                        fill: #3b5998;
                    }
                }
            }
        }
        &_vk {
            &:not(.share__button_circle) {
                background-color: #597da3;

                svg {
                    width: rem(18);
                    height: rem(9);
                }
            }

            &_circle {
                @media (min-width: $mobile) {
                    background-color: #597da3;
                }
                svg {
                    width: rem(24);
                    height: rem(12);
                    @media (min-width: $mobile) {
                        width: rem(18);
                        height: rem(9);
                    }
                    @media (max-width: $mobile) {
                        fill: #597da3;
                    }
                }
            }
        }
        &_twitter {
            &:not(.share__button_circle) {
                background-color: #00acee;

                svg {
                    width: rem(15);
                    height: rem(12);
                }
            }

            &_circle {
                @media (min-width: $mobile) {
                    background-color: #00acee;
                }
                svg {
                    width: rem(20);
                    height: rem(16);
                    @media (min-width: $mobile) {
                        width: rem(15);
                        height: rem(12);
                    }
                    @media (max-width: $mobile) {
                        fill: #00acee;
                    }
                }
            }
        }
        &_telegram {
            &:not(.share__button_circle) {
                background-color: #0088cc;

                svg {
                    width: rem(15);
                    height: rem(12);
                }
            }

            &_circle {
                @media (min-width: $mobile) {
                    background-color: #0088cc;
                }
                svg {
                    width: rem(20);
                    height: rem(16);
                    @media (min-width: $mobile) {
                        width: rem(15);
                        height: rem(12);
                    }
                    @media (max-width: $mobile) {
                        fill: #0088cc;
                    }
                }
            }
        }
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: rem(40);
        padding: rem(8);
    }

    &__text {
        @media (min-width: $mobile) {
            padding-right: rem(8);
            font-size: rem(14);
            font-weight: 500;
            color: #ffffff;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__num {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - rem(8));
        min-width: rem(35);
        padding: 0 rem(8);
        font-size: rem(14);
        border-left: 1px solid #ffffff;
        color: #ffffff;
        text-align: center;

        &_hide {
            display: none;
        }
    }

    &__toggler {
        position: relative;
        width: rem(56);
        height: rem(56);
        z-index: 1;
        border-radius: 50%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);

        @media (min-width: $mobile) {
            display: none;
        }

        svg {
            width: rem(24);
            height: rem(20);
        }
    }
}
.card-article {
    &__link {
        position: relative;
        display: flex;
        align-items: end;
        @include adaptiveValue(height, 380, 290, 768, 375, 1);
        padding: rem(16);
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s;
        @media (min-width: $mobile) {
            height: rem(380);
            padding: rem(30) rem(25);
        }

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }

                & .card-article__content {
                    transform: translateY(rem(-5));
                }
            }
        }

        &:active {
            transform: scale(0.97);
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.19%, rgba(0, 0, 0, 0.65) 100%);
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        transition: transform 0.3s;
    }

    &__title {
        @media (min-width: $tablet) {
            max-width: rem(340);
        }
    }

    &__info {
        padding: rem(10) 0 0 0;
    }
}

//------------------
.article-section {
    border-radius: rem(8);
    overflow: hidden;

    &_column {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);

        @media (min-width: $mobile) {
            row-gap: rem(24);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);

        @media (min-width: $mobile) {
            row-gap: rem(24);
        }
    }

    &__main {
        border-radius: 8px;
    }

    &__article {
        padding-bottom: rem(80);

        @media (min-width: $mobile) {
            padding-bottom: rem(104);
        }
    }

    &__ask {
        border-radius: 8px;
        overflow: hidden;
    }

    &__instruction {
        border-radius: 8px 8px 0 0;
        @media (min-width: $mobileSmall) {
            border-radius: 8px;
        }
    }

    &__button {
        height: rem(48);
    }
}

.article {
    counter-reset: article-box;
    &__mt_24 {
        margin-top: rem(24);
    }

    &__mt_32 {
        margin-top: rem(32);
    }

    &__mt_40 {
        margin-top: rem(40);
    }

    &__mt_56 {
        margin-top: rem(56);
    }

    &__mb_12 {
        margin-bottom: rem(12);
    }

    &__mb_24 {
        margin-bottom: rem(24);
    }

    &__mb_32 {
        margin-bottom: rem(24);
        @media (min-width: $mobile) {
            margin-bottom: rem(32);
        }
    }

    &__mb_36 {
        margin-bottom: rem(36);
    }

    &__mb_40 {
        margin-bottom: rem(40);
    }

    &__mb_56 {
        margin-bottom: rem(56);
    }

    &__mb_64 {
        margin-bottom: rem(64);
    }

    &__mb_92 {
        margin-bottom: rem(92);
    }

    &__main {
        counter-reset: article-center-title;
    }

    &__holder {
        padding: 0 rem(16);

        @media (min-width: $pc) {
            padding: 0 rem(128);
        }
        @media (min-width: $tablet) and (max-width: $pc) {
            padding: 0 rem(80);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            padding: 0 rem(60);
        }
        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            padding: 0 rem(30);
        }
    }

    &__top {
        position: relative;
        margin-bottom: rem(24);
        padding: rem(40) rem(16);

        @media (min-width: $pc) {
            padding: rem(40) rem(64);
        }
        @media (min-width: $tablet) and (max-width: $pc) {
            padding: rem(40) rem(40);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            padding: rem(40) rem(30);
        }
    }

    &__type_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__head {
        &_type_basic {
            padding: rem(16) 0 rem(32);

            @media (min-width: $tablet) {
                padding: rem(32) 0 rem(64);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                padding: rem(24) 0 rem(48);
            }
        }

        &_type_bg {
            position: relative;
            padding: rem(24) rem(16) rem(32);
            border-radius: 4px;

            @media (min-width: $pc) {
                padding: rem(24) rem(64) rem(32);
            }
            @media (min-width: $tablet) and (max-width: $pc) {
                padding: rem(24) rem(40) rem(32);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                padding: rem(24) rem(30) rem(32);
            }
        }
    }

    &__over {
        display: flex;
        align-items: center;
        column-gap: rem(16);
        margin-bottom: rem(16);
    }

    &__author {
        display: flex;
        align-items: center;
        column-gap: rem(8);

        span {
            @media (max-width: $mobile) {
                font-size: rem(14);
            }
        }
    }

    &__ava {
        width: rem(32);
        height: rem(32);
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__date {
        font-size: rem(14);
    }

    &__main-title {
        max-width: rem(724);
        margin-bottom: em(23, 40);
    }

    &__insert_mt_64 {
        margin-top: rem(32);

        @media (min-width: $mobile) {
            margin-top: rem(64);
        }
    }

    &__insert_mb_64 {
        margin-bottom: rem(32);

        @media (min-width: $mobile) {
            margin-bottom: rem(64);
        }
    }

    &__box {
        position: relative;

        &_insert {
            padding: rem(24) 0;
            @media (min-width: $mobile) {
                padding: rem(32) 0;
            }
        }

        &_level_2 {
            margin-bottom: rem(32);
            @media (min-width: $tablet) {
                margin-bottom: rem(64);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-bottom: rem(48);
            }
        }

        &_level_3 {
            margin-bottom: rem(24);
            @media (min-width: $tablet) {
                margin-bottom: rem(56);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-bottom: rem(36);
            }
        }

        &_level_4 {
            margin-bottom: rem(24);
            @media (min-width: $tablet) {
                margin-bottom: rem(48);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-bottom: rem(36);
            }
        }

        &_level_5 {
            margin-bottom: rem(24);
            @media (min-width: $tablet) {
                margin-bottom: rem(40);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-bottom: rem(36);
            }
        }

        &_level_6 {
            margin-bottom: rem(24);
            @media (min-width: $tablet) {
                margin-bottom: rem(40);
            }
            @media (min-width: $mobile) and (max-width: $tablet) {
                margin-bottom: rem(36);
            }
        }
    }

    &__title-center {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(16);
        margin-bottom: rem(24);
        padding-top: rem(10);
        text-align: center;
        @media (min-width: $mobile) {
            margin-bottom: rem(36);
        }
        span {
            position: relative;
            display: inline-block;
            width: rem(40);
            height: rem(40);
            transform: rotate(45deg);
            &::before {
                content: counter(article-center-title);
                counter-increment: article-center-title;
                position: absolute;
                top: calc(50% + rem(1));
                left: rem(-2);
                display: flex;
                align-items: center;
                justify-content: center;
                width: rem(40);
                height: rem(40);
                font-size: rem(24);
                font-weight: 700;
                text-align: center;
                font-style: italic;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    &__title {
        display: flex;

        &:not(.article-cards__title) {
            @media (max-width: $mobile) {
                flex-direction: column;
            }
        }

        &:not(.article-cards__title) {
            @media (min-width: $mobile) {
                align-items: center;
            }
        }

        span {
            position: relative;
            display: inline-block;
            &::before {
                content: counter(article-box);
                counter-increment: article-box;
                position: absolute;
                top: 50%;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                font-weight: 700;
                text-align: center;
                transform: translateY(-50%);
                color: #131313;
                background-color: #d1aa7c;
            }
        }

        &_level_2 {
            gap: rem(8) rem(12);
            margin-bottom: em(30, 28);
            @media (min-width: $tablet) {
                gap: rem(8) rem(16);
            }
            .title {
                font-size: rem(24);
                @media (min-width: $tablet) {
                    font-size: rem(28);
                }
            }

            span {
                width: rem(32);
                height: rem(32);
                flex: 0 0 rem(32);
                @media (min-width: $tablet) {
                    width: rem(40);
                    height: rem(40);
                    flex: 0 0 rem(40);
                }
                &::before {
                    font-size: rem(22);

                    @media (min-width: $tablet) {
                        font-size: rem(26);
                    }
                }
            }
        }
        &_level_3 {
            gap: rem(8) rem(12);
            margin-bottom: em(27, 24);
            @media (min-width: $tablet) {
                gap: rem(8) rem(16);
            }
            .title {
                font-size: rem(22);
                @media (min-width: $tablet) {
                    font-size: rem(24);
                }
            }

            span {
                width: rem(30);
                height: rem(30);
                flex: 0 0 rem(30);
                @media (min-width: $tablet) {
                    width: rem(32);
                    height: rem(32);
                    flex: 0 0 rem(32);
                }
                &::before {
                    font-size: rem(20);
                    @media (min-width: $tablet) {
                        font-size: rem(22);
                    }
                }
            }
        }

        &_level_4 {
            gap: rem(8) rem(12);
            @media (min-width: $tablet) {
                gap: rem(8) rem(16);
            }
            margin-bottom: em(30, 22);

            .title {
                font-size: rem(20);
                @media (min-width: $tablet) {
                    font-size: rem(22);
                }
            }

            span {
                width: rem(28);
                height: rem(28);
                flex: 0 0 rem(28);
                @media (min-width: $tablet) {
                    width: rem(30);
                    height: rem(30);
                    flex: 0 0 rem(30);
                }
                &::before {
                    font-size: rem(18);
                    @media (min-width: $tablet) {
                        font-size: rem(20);
                    }
                }
            }
        }

        &_level_5 {
            gap: rem(8) rem(12);
            @media (min-width: $tablet) {
                gap: rem(8) rem(16);
            }
            margin-bottom: em(24, 20);

            .title {
                font-size: rem(18);
                @media (min-width: $tablet) {
                    font-size: rem(20);
                }
            }

            span {
                width: rem(26);
                height: rem(26);
                flex: 0 0 rem(26);
                @media (min-width: $tablet) {
                    width: rem(28);
                    height: rem(28);
                    flex: 0 0 rem(28);
                }
                &::before {
                    font-size: rem(16);
                    @media (min-width: $tablet) {
                        font-size: rem(18);
                    }
                }
            }
        }

        &_level_6 {
            gap: rem(8) rem(12);
            @media (min-width: $tablet) {
                gap: rem(8) rem(16);
            }
            margin-bottom: em(24, 18);

            .title {
                font-size: rem(16);
                @media (min-width: $tablet) {
                    font-size: rem(18);
                }
            }

            span {
                width: rem(24);
                height: rem(24);
                flex: 0 0 rem(24);
                &::before {
                    font-size: rem(14);
                    @media (min-width: $tablet) {
                        font-size: rem(16);
                    }
                }
            }
        }
    }

    &__panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
    }

    &__postpone {
        padding: rem(5) rem(8) rem(5) rem(16);
        column-gap: rem(10);
        height: rem(32);
        border-radius: 4px;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }

        &[data-postponed="true"] {
            border: 1px solid #21886c;
            color: #ffffff;
            background-color: #21886c;

            svg {
                width: rem(18);
                height: rem(27);
            }
        }

        &[data-postponed="false"] {
            border: 1px solid #21886c;
            color: #21886c;
            svg {
                width: rem(17);
                height: rem(21);
            }
        }

        svg {
            fill: currentColor;
            transition: fill 0.3s;
        }
    }

    &__text {
        line-height: 1.6;
        font-size: rem(18);

        &_mb_48 {
            margin-bottom: rem(40);
            @media (min-width: $mobile) {
                margin-bottom: rem(48);
            }
        }

        &_column {
            display: flex;
            flex-direction: column;
            row-gap: rem(32);
        }
    }

    &__main {
        &_bg {
            padding: rem(32) 0 rem(80);
            border-radius: 8px;
            background-color: #ffffff;
            @media (min-width: $mobile) {
                padding: rem(39) 0 rem(104);
            }
        }
    }

    &__first {
        margin-bottom: rem(48);
    }

    &__img {
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_big {
            @include adaptiveValue(height, 491, 180, 992, 375, 1);
            margin-bottom: rem(24);
            @media (min-width: $mobile) {
                margin-bottom: rem(32);
            }
        }

        &_middle {
            @include adaptiveValue(height, 362, 180, 992, 375, 1);
            margin-bottom: rem(24);
            @media (min-width: $mobile) {
                margin-bottom: rem(32);
            }
        }

        &_small {
            height: rem(270);
        }
    }

    &__figure {
        img {
            max-height: rem(362);
        }
    }

    &__figcaption {
        padding-top: rem(16);
        line-height: 1.6;
        font-size: rem(16);
        font-style: italic;
        text-align: center;
    }

    &__link {
        display: inline-block;
        line-height: 1.25;
        transition: color 0.3s;

        @media (min-width: $mobile) {
            line-height: 1.45;
        }

        &_bold {
            font-weight: 700;
        }
        &_underlined {
            text-decoration: underline !important;
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: none !important;
                }
            }

            &:active {
                text-decoration: none !important;
            }
        }
        &_card {
            padding-top: rem(16);
        }

        &_text {
            display: block;
        }
    }

    &__redline {
        &::first-letter {
            padding-right: rem(3);
            font-size: rem(40);
            font-weight: 500;
            line-height: 1;
        }
    }

    &__bold {
        font-weight: 700;
    }

    &__italic {
        font-style: italic;
    }

    &__line {
        display: inline-block;
        height: rem(1);
        width: 100%;
        background: linear-gradient(0deg, #757a84, #757a84), #aeb1b7;
    }

    &__list {
        counter-reset: article-number-list;
        list-style: none;

        & li .title::before {
            content: counter(article-number-list) ". ";
            counter-increment: article-number-list;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        row-gap: rem(24);
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: rem(8);
    }

    &__tag {
        height: rem(32);
        padding: rem(4) rem(8);
        border: 1px solid currentColor;
        border-radius: 4px;
        color: #979797;
        transition: color 0.3s, border-color 0.3s;
    }

    &__read {
        margin-top: rem(14);
        @media (min-width: $tablet) {
            margin-top: rem(40);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            margin-top: rem(30);
        }
        @media (min-width: $mobile) and (max-width: $mobile) {
            margin-top: rem(20);
        }
    }
}

.article-buttons {
    display: flex;
    row-gap: rem(16);

    @media (min-width: $mobileSmall) {
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(8) rem(33);
    }
    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }

    &_mt_32 {
        margin-top: rem(32);
    }

    &_mb_36 {
        margin-bottom: rem(48);

        @media (min-width: $mobileSmall) {
            margin-bottom: rem(36);
        }
    }
}
.link-title-box {
    &_mt_48 {
        margin-top: rem(48);
    }

    &_mb_92 {
        margin-bottom: rem(48);
        @media (min-width: $mobile) {
            margin-bottom: rem(92);
        }
    }

    &__ceil {
        &_mb_48 {
            margin-bottom: rem(32);
            @media (min-width: $mobile) {
                margin-bottom: rem(48);
            }
        }
    }

    &__title {
        margin-bottom: rem(24);
    }

    &__link {
        display: inline-block;
        border-bottom: 1px solid currentColor;
        font-weight: 500;
        transition: border-color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                border-color: transparent;
            }
        }

        &:active {
            border-color: transparent;
        }
    }
}

.expert {
    &_mb_24 {
        margin-bottom: rem(24);
    }

    &__data {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: rem(16);
        width: max-content;
    }

    &__ava {
        grid-row: span 2;
        width: rem(64);
        height: rem(64);
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        align-self: end;
        line-height: 1.6;
        font-size: rem(18);
        font-weight: 700;
    }

    &__author {
        align-self: start;
    }
}

.article-read {
    padding: rem(24) rem(24) rem(32);
    border-radius: 4px;

    &_mt_40 {
        margin-top: rem(40);
    }

    &_mb_60 {
        margin-bottom: rem(60);
    }

    &__title {
        margin-bottom: rem(24);
        @media (min-width: $mobile) {
            margin-bottom: rem(16);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(22);
    }

    &__link {
        line-height: 1.2;
        font-size: rem(18);
        font-weight: 500;
        transition: border-color 0.2s, color 0.2s;
    }
}

.article-slider {
    &_mt_32 {
        margin-top: rem(32);
    }

    &_mb_32 {
        margin-bottom: rem(32);
    }

    &_basic {
        .aricle-slider__slide {
            overflow: hidden;

            @include adaptiveValue(height, 481, 180, 991, 375, 1);
            @media (min-width: $pc) {
                height: rem(362);
            }

            @media (min-width: $tablet) and (max-width: $pc) {
                @include adaptiveValue(height, 497, 388, 1211, 991, 1);
            }
        }

        .aricle-slider__slide > figure {
            @include adaptiveValue(height, 481, 180, 991, 375, 1);
            @media (min-width: $pc) {
                height: rem(362);
            }

            @media (min-width: $tablet) and (max-width: $pc) {
                @include adaptiveValue(height, 497, 388, 1211, 991, 1);
            }
        }
    }

    &_full {
        .aricle-slider__slide {
            @include adaptiveValue(height, 481, 180, 991, 375, 1);
            @media (min-width: $pc) {
                height: rem(490);
            }

            @media (min-width: $tablet) and (max-width: $pc) {
                @include adaptiveValue(height, 497, 388, 1211, 991, 1);
            }
            overflow: hidden;
        }

        .aricle-slider__slide > figure {
            @include adaptiveValue(height, 481, 180, 991, 375, 1);
            @media (min-width: $pc) {
                height: rem(490);
            }

            @media (min-width: $tablet) and (max-width: $pc) {
                @include adaptiveValue(height, 497, 388, 1211, 991, 1);
            }
        }
    }

    &__control {
        margin-top: rem(8);
    }

    &__pagination {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        justify-items: center;
        padding: rem(7) 0;
    }

    &__preview {
        margin-top: rem(8);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(4);
        @media (min-width: $mobile) {
            column-gap: rem(8);
        }
    }

    &__pag-img {
        width: rem(50);
        height: rem(40);
        @media (min-width: $mobile) {
            width: rem(70);
            height: rem(52);
        }
        cursor: pointer;
        img {
            width: rem(50);
            height: rem(40);
            @media (min-width: $mobile) {
                width: rem(70);
                height: rem(52);
            }
            object-fit: cover;
        }
    }
}

.choice-edition {
    padding: rem(16) 0 rem(32);

    &__mt_56 {
        margin-top: rem(40);
        @media (min-width: $mobile) {
            margin-top: rem(40);
        }
    }

    &__mb_56 {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(56);
        }
    }

    &__link {
        display: block;
    }

    &__title {
        margin-bottom: rem(18);
        text-align: center;
    }

    &__caption {
        position: absolute;
        top: -50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: rem(14);
        color: #ffffff;
        text-align: center;
        transform: translate(-50%, -50%);
        transition: top 0.3s;
    }

    &__img {
        width: rem(140);
        height: rem(140);
        @media (min-width: $mobileSmall) {
            width: rem(175);
            height: rem(175);
        }
        border-radius: rem(8);
        background-color: #252525;
        overflow: hidden;
        img {
            transition: opacity 0.3s;
        }
    }

    &__item {
        position: relative;
        width: auto !important;

        &:hover {
            img {
                opacity: 45%;
            }

            .choice-edition__caption {
                top: 50%;
            }
        }
    }
}

.article-lists {
    &_mt_32 {
        margin-top: rem(24);
        @media (min-width: $mobile) {
            margin-top: rem(32);
        }
    }

    &_mb_64 {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(64);
        }
    }

    &__title {
        font-size: rem(18);
        line-height: 1.6;
        margin-bottom: rem(8);
    }
}

.article-list {
    display: flex;
    flex-direction: column;

    &_mb_12 {
        margin-bottom: rem(12);
    }

    &_type_marker {
        .article-list__item {
            &::before {
                content: "";
                position: absolute;
                border-radius: 50%;
            }

            &_basic {
                padding-left: rem(38);
                line-height: 1.9;
                &::before {
                    top: rem(14);
                    left: rem(11);
                    width: rem(6);
                    height: rem(6);
                }
            }

            &_big {
                padding-left: rem(32);
                line-height: 1.8;

                @media (min-width: $mobile) {
                    padding-left: rem(48);
                }
                &::before {
                    top: rem(11);
                    left: rem(10);
                    width: rem(8);
                    height: rem(8);
                    @media (min-width: $mobile) {
                        top: rem(12);
                        left: rem(20);
                    }
                }
            }
        }
    }

    &_type_number {
        counter-reset: article-list-counter;
        list-style: none;
        .article-list__item {
            &::before {
                counter-increment: article-list-counter;
                display: inline-flex;
                font-weight: 700;
            }

            &_basic {
                padding-left: rem(10);
                line-height: 1.9;
                &::before {
                    content: counter(article-list-counter) ")";
                    margin-right: rem(7);
                }
            }

            &_circle {
                display: flex;
                line-height: 1.8;
                &::before {
                    content: counter(article-list-counter);
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 rem(24);
                    margin-right: rem(17);
                    width: rem(24);
                    height: rem(24);
                    text-align: center;
                    border-radius: 50%;
                    transform: translateY(rem(5));
                }
            }
        }
    }

    &__item {
        position: relative;
        font-size: rem(18);
    }
}

.article-instruction {
    padding-bottom: rem(94);
    @media (min-width: $mobile) {
        padding-bottom: rem(126);
    }

    &__head {
        padding: rem(16) 0 rem(36);

        @media (min-width: $tablet) {
            padding: rem(32) 0 rem(72);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            padding: rem(24) 0 rem(52);
        }
    }

    &__first {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(40);
        }
    }

    &__list {
        row-gap: rem(24);
        margin-bottom: rem(40);

        @media (min-width: $mobile) {
            row-gap: rem(32);
            margin-bottom: rem(56);
        }
    }

    &__marker {
    }

    &__number {
    }

    &__holder {
        padding: 0 rem(16);

        @media (min-width: $pc) {
            padding: 0 rem(80);
        }
        @media (min-width: $tablet) and (max-width: $pc) {
            padding: 0 rem(30);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            padding: 0 rem(40);
        }
        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            padding: 0 rem(20);
        }
    }

    &__insert {
        margin-bottom: rem(40);
        padding: rem(40) rem(16);
        border-radius: 8px;

        @media (min-width: $tablet) {
            margin-bottom: rem(64);
            padding: rem(40) rem(48);
        }

        @media (min-width: $mobile) and (max-width: $tablet) {
            margin-bottom: rem(52);
            padding: rem(40) rem(36);
        }
        @media (min-width: $mobileSmall) and (max-width: $mobile) {
            margin-bottom: rem(44);
            padding: rem(40) rem(24);
        }
    }

    &__link {
        padding-top: rem(24);
    }
}

.sticky {
    background-color: inherit !important;
    @media (min-width: $pc) {
        position: fixed;
        z-index: 101;
    }
}

.stop {
    @media (min-width: $pc) {
        position: relative;
        z-index: 101;
    }
}

.article-cards {
    top: rem(20);

    &__head {
        margin-bottom: rem(16);
        padding: rem(16) rem(16) rem(40);
        border-radius: 0 0 8px 8px;

        @media (min-width: $pc) {
            padding: rem(32) rem(40) rem(64);
        }
        @media (min-width: $mobile) and (max-width: $pc) {
            padding: rem(24) rem(24) rem(48);
        }

        @media (min-width: $mobile) {
            margin-bottom: rem(24);
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        overflow: hidden;
        @media (min-width: $mobile) {
            row-gap: rem(24);
        }
    }

    &__columns {
        display: flex;
        row-gap: rem(16);

        @media (max-width: $pc) {
            flex-direction: column;
        }

        @media (min-width: $mobile) {
            gap: rem(24) rem(40);
        }
    }

    &__holder {
        padding: 0 rem(16);
        @media (min-width: $pc) {
            padding: 0 rem(40);
        }
        @media (min-width: $mobile) and (max-width: $pc) {
            padding: 0 rem(24);
        }
    }

    &__card {
        position: relative;
        padding: rem(32) 0 rem(40);
        @media (min-width: $mobile) {
            padding: rem(40) 0 rem(48);
        }
        border-radius: 8px;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: rem(7);
        }
    }

    &__title {
        flex-direction: column;
        margin-bottom: rem(16);
        span {
            &::before {
                color: #ffffff;
                font-size: rem(18);
            }
        }
    }

    &__img {
        margin-top: rem(24);
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        border-radius: 8px;
        padding: rem(32) rem(16) rem(40);
        @media (min-width: $mobile) {
            padding: rem(24) rem(40);
        }

        @media (min-width: $mobile) and (max-width: $pc) {
            padding: rem(24);
        }
    }

    &__share {
        margin-bottom: rem(8);
    }

    &__aside {
        @media (min-width: $pc) {
            flex: 0 0 rem(300);
        }

        @media (max-width: $pc) {
            order: -1;
        }
    }
}

.article-contents {
    padding: rem(16) rem(16) rem(32);
    border-radius: 8px;

    @media (min-width: $mobile) {
        padding: rem(16) rem(24) rem(32);
    }
    @media (min-width: $pc) {
        max-width: rem(300) !important;
    }

    @media (max-width: $pc) {
        height: auto !important;
    }

    &__title {
        margin-bottom: rem(16);
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        counter-reset: article-contents;
    }

    &__item {
        display: flex;
        column-gap: rem(8);

        span {
            position: relative;
            display: inline-block;
            width: rem(16);
            height: rem(16);
            flex: 0 0 rem(16);
            &::before {
                content: counter(article-contents);
                counter-increment: article-contents;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border: 1px solid currentColor;
                border-radius: 50%;
                font-size: rem(12);
                text-align: center;
            }
        }
    }

    &__link {
        line-height: 1.2;
        font-size: rem(14);
    }
}

.article-comments {
    border-radius: 8px;

    padding: rem(32) rem(16) rem(80);

    @media (min-width: $pc) {
        padding: rem(32) rem(128) rem(80);
    }
    @media (min-width: $tablet) and (max-width: $pc) {
        padding: rem(32) rem(80) rem(80);
    }
    @media (min-width: $mobile) and (max-width: $tablet) {
        padding: rem(32) rem(60) rem(80);
    }
    @media (min-width: $mobileSmall) and (max-width: $mobile) {
        padding: rem(32) rem(30) rem(80);
    }

    &__head {
        display: flex;
        align-items: center;
        font-size: rem(24);
        font-weight: 700;
        column-gap: rem(4);
        margin-bottom: rem(32);
        color: #252525;
        svg {
            width: rem(22);
            height: rem(22);
            fill: currentColor;
        }
    }

    &__title {
        padding-left: rem(8);
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);
        margin-bottom: rem(40);
    }

    &__textarea {
        height: rem(120);
        line-height: 1.25;
        font-size: rem(15);
    }

    &__button {
        width: rem(327);
        height: 3.5rem;
        border-radius: 4px;
        color: #ffffff;
        transition: background-color 0.3s;

        @media (min-width: $mobileSmall) {
            width: rem(134);
        }
    }
}

.comments {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(32);
    }
}
.comment {
    & > .comments__list {
        margin-top: rem(32);
        padding-left: rem(24);

        @media (min-width: $mobileSmall) {
            padding-left: rem(40);
        }
    }

    &__head {
        margin-bottom: rem(12);
    }

    &__user {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: rem(2) rem(8);
    }

    &__ava {
        grid-row: span 2;
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__username {
        font-weight: 700;
    }

    &__date {
        font-size: rem(13);
    }

    &__text {
        row-gap: rem(18);
        margin-bottom: rem(8);
        font-size: rem(15);
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__reply {
        column-gap: rem(8);
        font-size: rem(14);
        svg {
            width: rem(18);
            height: rem(15);
            fill: currentColor;
        }
    }
}

.comment-vote {
    display: flex;
    align-items: center;
    column-gap: rem(8);

    &__counter {
        font-size: rem(15);
        font-weight: 500;

        &_positive {
            color: #21886c;
        }

        &_neutral {
            color: #757a84;
        }

        &_negative {
            color: #bf707a;
        }
    }

    &__button {
        position: relative;
        width: rem(24);
        height: rem(24);
        border-radius: 2px;
        transition: opacity 0.3s, border-color 0.3s, transform 0.3s;
        &:active {
            transform: scale(0.85);
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(12);
            height: rem(2);
            border-radius: 2px;
            transform: translate(-50%, -50%);
        }

        &_dec {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: rem(12);
                height: rem(2);
                border-radius: 2px;
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }
}

.dzen {
    padding: rem(32) rem(16) rem(32);
    border-radius: 8px;
    &__logo {
        margin-bottom: rem(21);
        img {
            max-width: rem(150);
            width: 100%;
        }
    }

    &__slide {
        width: auto !important;
    }

    &__card {
        width: rem(200);
        height: rem(260);
        border-radius: 8px;
        overflow: hidden;
        img {
            width: rem(200);
            height: rem(260);

            object-fit: cover;
        }
    }
}

.ui-button {
    width: 100%;
    height: rem(48);
    padding: rem(8) rem(8) rem(8) rem(16);
    border-radius: 4px;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.25;
    transition: background-color 0.3s;

    @media (min-width: $mobileSmall) {
        max-width: max-content;
        justify-content: start;
    }

    &_type_basic {
        text-align: center;
        padding: rem(8);
        justify-content: center;

        @media (min-width: $mobileSmall) {
            justify-content: center;
        }
    }

    &_size_basic {
        min-width: rem(164);
    }

    &_size_big {
        min-width: rem(175);
    }

    &_cloud {
        padding: rem(8);
    }

    &__small {
        line-height: 1.1;
        font-size: rem(13);
        font-weight: 400;
    }

    &__tiny {
        line-height: 1.1;
        font-size: rem(11);
        font-weight: 400;
    }

    &__grid {
        display: inline-grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: center;
        column-gap: rem(16);
        width: max-content;
        text-align: left;
        transition: color 0.3s;
    }

    &__icon {
        grid-row: span 2;
        display: inline-flex;
        align-items: center;

        &_basic {
            grid-row: auto;
        }

        svg {
            transition: fill 0.3s;
        }

        &_google {
            svg {
                width: rem(23);
                height: rem(26);
            }
        }
        &_pc {
            svg {
                width: rem(31);
                height: rem(23);
            }
        }

        &_itunes {
            svg {
                width: rem(22);
                height: rem(26);
            }
        }

        &_cloud {
            svg {
                width: rem(37);
                height: rem(16);
            }
        }

        &_windows {
            svg {
                width: rem(23);
                height: rem(26);
            }
        }

        &_download {
            svg {
                width: rem(30);
                height: rem(30);
            }
        }
    }
}

.article-columns {
    display: flex;
    gap: rem(24);

    @media (max-width: $mobile) {
        flex-direction: column;
        justify-content: center;
    }

    &_mb_64 {
        margin-bottom: rem(56);
        @media (min-width: $mobile) {
            margin-bottom: rem(64);
        }
    }

    &_mt_24 {
        margin-top: rem(32);
        @media (min-width: $mobile) {
            margin-top: rem(24);
        }
    }
    &_mb_24 {
        margin-bottom: rem(24);
    }

    &__column-small {
        @media (min-width: $mobile) {
            flex: 1 1 rem(203);
        }
    }
    &__column-big {
        @media (min-width: $mobile) {
            flex: 1 1 rem(479);
        }
    }

    &_center {
        align-items: center;
    }

    &_reverse {
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
        }
    }
}

.ad-block {
    padding: 0 rem(16);
    @media (min-width: $tablet) {
        padding: 0 rem(30);
    }
    &_mb_32 {
        margin-bottom: rem(40);
        @media (min-width: $mobile) {
            margin-bottom: rem(32);
        }
    }

    &__column-big {
        @media (min-width: $mobile) {
            flex: 1 1 rem(607);
        }
    }

    &__column-small {
        @media (min-width: $mobile) {
            flex: 1 1 rem(220);
        }
    }

    &__body {
        gap: rem(32) rem(24);
        border-radius: 8px;
        &_basic {
            padding: rem(40) rem(24);
            @media (min-width: $mobile) {
                padding: rem(56) rem(40);
            }
        }

        &_title {
            padding: rem(40) rem(24);
            @media (min-width: $mobile) {
                padding: rem(24) rem(32) rem(32);
            }
        }

        &_reverse {
            padding: rem(40) rem(24);
            @media (min-width: $mobile) {
                padding: rem(56) rem(32);
            }
        }

        &_center {
            padding: rem(40) rem(24) rem(48);
            text-align: center;

            @media (min-width: $mobile) {
                padding: rem(56) rem(32) rem(48);
            }
        }
    }

    &__title {
        margin-bottom: rem(24);
        font-weight: 600;
    }

    &__button {
        margin-top: rem(40);
    }
}

.quote-1 {
    padding: rem(24) rem(32);
    @media (min-width: $mobile) {
        padding: rem(24) rem(48);
    }

    &_mt_40 {
        margin-top: rem(32);
        @media (min-width: $mobile) {
            margin-top: rem(40);
        }
    }

    &_mb_40 {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(40);
        }
    }

    &__main {
        line-height: 1.45;
        font-size: rem(20);
    }
}

.quote-2 {
    position: relative;
    padding-left: rem(40);

    @media (min-width: $mobile) {
        padding-left: rem(65);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: rem(24);
        height: rem(20);
        background-size: rem(24) rem(20);

        @media (min-width: $mobile) {
            width: rem(34);
            height: rem(30);
            background-size: rem(34) rem(30);
        }
    }

    &_mt_40 {
        margin-top: rem(32);
        @media (min-width: $mobile) {
            margin-top: rem(40);
        }
    }

    &_mb_40 {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(40);
        }
    }

    &__main {
        font-size: 24px;
        font-weight: 700;

        @media (min-width: $mobile) {
            font-size: rem(32);
        }
    }
}

.quote-basic {
    padding: rem(32) rem(16);
    border-radius: 8px;

    @media (min-width: $mobile) {
        padding: rem(32);
    }

    &_mt_40 {
        margin-top: rem(32);
        @media (min-width: $mobile) {
            margin-top: rem(40);
        }
    }

    &_mb_40 {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(40);
        }
    }

    &_quote_3 {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: rem(32);
            bottom: rem(32);
            width: rem(99);
            height: rem(69);
            background-size: rem(99) rem(69);
        }
    }

    &__main {
        font-size: rem(18);
        line-height: 1.4;

        &_caption {
            padding-bottom: rem(24);
            @media (min-width: $mobile) {
                padding-bottom: rem(16);
            }
        }
    }

    &__caption {
        position: relative;
        display: inline-block;
        padding-top: rem(16);
        font-size: rem(16);
        font-weight: 700;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
        }
    }
}

.quote-5 {
    padding-left: rem(16);

    @media (min-width: $mobile) {
        padding-left: rem(30);
    }

    &__mt_40 {
        margin-top: rem(32);
        @media (min-width: $mobile) {
            margin-top: (40);
        }
    }

    &__mb_40 {
        margin-bottom: rem(32);
        @media (min-width: $mobile) {
            margin-bottom: rem(40);
        }
    }
    &__main {
        margin-bottom: rem(24);
        font-size: rem(20);
        font-weight: 700;

        @media (min-width: $mobile) {
            margin-bottom: rem(30);
            font-size: rem(30);
        }
    }

    &__caprion {
        font-size: rem(16);
        @media (min-width: $mobile) {
            font-size: rem(20);
        }
    }
}
