.logo {
    display: inline-flex;
    align-items: center;

    svg {
        width: rem(65);
        height: rem(15);

        @media (min-width: $mobile) {
            width: rem(90);
            height: rem(23);
        }
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;

    &_size_small {
        column-gap: rem(10);
        height: rem(24);
        padding: rem(4) rem(8);
        border-radius: 4px;

        @media (min-width: $mobile) {
            height: rem(32);
            padding: rem(4) rem(12);
        }
    }

    &_size_big {
        padding: rem(12) rem(24);
        border-radius: 4px;
        font-weight: 500;
    }

    &_theme_default {
        svg {
            fill: currentColor;
        }
    }

    &_theme_light-red {
        border: 1px solid #efd4d5;
        color: #bf707a;
        background-color: #fde8e9;
    }

    &_theme_brown {
        color: #ffffff;
        transition: background-color 0.3s;
    }

    &_theme_black {
        color: #ffffff;
        background-color: #252525;
    }

    &_share {
        &_black {
            color: #252525;
        }

        &_white {
            color: #ffffff;
        }

        svg {
            width: rem(24);
            height: rem(20);
            fill: currentColor;
        }
    }

    &_partner {
        span {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    &__partner-icon {
        width: rem(18);
        height: rem(13);
        @media (min-width: $mobile) {
            width: rem(24);
            height: rem(17);
        }
    }
}

.icon {
    display: inline-block;
}

.title {
    line-height: 1.2;
    &_size_14 {
        font-size: rem(14);
    }

    &_size_18 {
        font-size: rem(18);
    }

    &_size_22 {
        font-size: rem(20);

        @media (min-width: $mobile) {
            font-size: rem(22);
        }
    }

    &_size_24 {
        font-size: rem(24);
    }

    &_size_28 {
        font-size: rem(24);
    }

    &_size_32 {
        font-size: rem(24);

        @media (min-width: $mobile) {
            font-size: rem(32);
        }
    }

    &_size_40 {
        font-size: rem(28);

        @media (min-width: $tablet) {
            font-size: rem(40);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            font-size: rem(32);
        }
    }

    &_wight_bold {
        font-weight: 700;
    }

    &_color_white {
        color: #ffffff;
    }
}

.social {
    display: flex;
    align-items: center;
    column-gap: rem(9);

    &__link {
        flex: 0 0 rem(32);
        width: rem(32);
        height: rem(32);
        border-radius: 8px;
        transition: border-color 0.3s, background-color 0.3s;

        svg {
            transition: fill 0.3s;
        }

        &_facebook {
            svg {
                width: rem(11);
                height: rem(22);
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        fill: #3b5998 !important;
                    }
                }
            }
            &:active {
                svg {
                    fill: #3b5998 !important;
                }
            }
        }

        &_vk {
            svg {
                width: rem(24);
                height: rem(12);
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        fill: #597da3 !important;
                    }
                }
            }
            &:active {
                svg {
                    fill: #597da3 !important;
                }
            }
        }

        &_twitter {
            svg {
                width: rem(20);
                height: rem(16);
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        fill: #00acee !important;
                    }
                }
            }
            &:active {
                svg {
                    fill: #00acee !important;
                }
            }
        }

        &_telegram {
            svg {
                width: rem(20);
                height: rem(16);
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        fill: #0088cc !important;
                    }
                }
            }
            &:active {
                svg {
                    fill: #0088cc !important;
                }
            }
        }
    }
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(12);
    padding: rem(16);

    &__row {
        display: flex;
        align-items: center;

        &_panel {
            column-gap: rem(8);
        }

        &_nums {
            column-gap: rem(18);
        }
    }

    &__share {
        position: relative;
    }

    &__date {
        @media (max-width: $mobile) {
            font-size: rem(14);
        }
    }

    &__num {
        display: flex;
        align-items: center;
        column-gap: rem(8);

        &_theme_white {
            color: #ffffff;
        }

        svg {
            fill: currentColor;
        }
        &_views {
            svg {
                width: rem(20);
                height: rem(13);

                @media (min-width: $mobile) {
                    width: rem(26);
                    height: rem(17);
                }
            }
        }

        &_comments {
            svg {
                width: rem(17);
                height: rem(17);

                @media (min-width: $mobile) {
                    width: rem(22);
                    height: rem(22);
                }
            }
        }
    }
}

.share-post {
    position: absolute;
    bottom: 0;
    left: rem(45);
    z-index: 2;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;

    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    transition: bottom 0.3s, opacity 0.3s, visibility 0.3s;

    @media (max-width: $mobile) {
        position: fixed;
        bottom: -150%;
        left: 0;
        width: 100%;
        border-radius: rem(16) rem(16) 0 0;
    }

    &_active {
        bottom: rem(-3);
        opacity: 1;
        visibility: visible;

        @media (max-width: $mobile) {
            bottom: 0;
        }
    }

    &__item {
        transition: background-color 0.3s;
    }

    &__item_link {
        @media (min-width: $mobile) {
            display: none;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        column-gap: rem(12);
        width: rem(168);
        height: rem(40);
        padding: 0 rem(18);

        @media (min-width: $mobile) {
            padding: 0 rem(12);
        }

        &_copy {
            white-space: nowrap;
            svg {
                width: rem(15);
                height: rem(25);
                fill: #979797;
            }
        }

        &_twitter {
            svg {
                width: rem(20);
                height: rem(16);
                fill: #00acee;
            }
        }

        &_telegram {
            svg {
                width: rem(20);
                height: rem(16);
                fill: #0088cc;
            }
        }

        &_facebook {
            svg {
                width: rem(11);
                height: rem(22);
                fill: #3b5998;
            }
        }

        &_vk {
            svg {
                width: rem(24);
                height: rem(12);
                fill: #597da3;
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 rem(24);
        height: 100%;
    }
}

.video-player {
    position: relative;
    &__player {
        width: 100%;
        object-fit: cover;
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        svg {
            width: rem(48);
            height: rem(48);
            fill: #ffffff;

            @media (min-width: $mobile) {
                width: rem(72);
                height: rem(72);
            }
        }
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;

    &_active {
        opacity: 1;
        visibility: visible;
    }
}

.authorization {
    display: none;
    padding: rem(40) rem(30) rem(64);
    width: 100%;
    max-width: rem(506);

    @media (max-width: $mobile) {
        margin: 0 auto;
    }
    @media (min-width: $mobile) {
        padding: rem(64) rem(96);
    }

    &_active {
        display: block;
    }

    &__title {
        margin-bottom: em(26, 32);
    }

    &__text {
        display: inline-block;
        margin-bottom: em(4, 16);
        line-height: 1.25;
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(16);
        margin-bottom: rem(28);
        padding-top: rem(5);
    }

    &__social {
        height: rem(48);
        flex: 0 0 calc(33.333% - rem(16));
        border-radius: 4px;
        &_facebook {
            color: #3b5998;

            svg {
                width: rem(14);
                height: rem(28);
            }
        }

        &_vk {
            color: #597da3;
            svg {
                width: rem(30);
                height: rem(15);
            }
        }

        &_twitter {
            color: #00acee;
            svg {
                width: rem(25);
                height: rem(20);
            }
        }

        svg {
            fill: currentColor;
        }
    }

    &__form {
        margin-bottom: rem(20);
    }

    &__label {
        display: block;
        &_login {
            margin-bottom: rem(8);
        }

        &_password {
            position: relative;
            margin-bottom: rem(16);

            input {
                padding: rem(16) rem(50) rem(16) rem(13) !important;
            }
        }

        &_person-data {
            margin-bottom: rem(16);
            p {
                font-size: rem(13);
                line-height: 1.25;
                color: #757a84;

                a {
                    display: block;
                    color: #4d72d3;
                    text-decoration: underline;
                }
            }
        }

        &_recovery {
            padding: rem(16) 0 rem(24);
        }
    }

    &__icon-password {
        position: absolute;
        bottom: rem(15);
        right: rem(11);
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        svg {
            width: rem(26);
            height: rem(17);
            fill: #757a84;
        }

        &_hide {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                height: 140%;
                width: 2px;
                border-radius: 2px;
                background-color: #757a84;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &__send {
        width: 100%;
        height: rem(56);
        color: #ffffff;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_right {
            justify-content: end;
        }
    }

    &__button {
        font-size: rem(14);

        &_theme_gray {
            color: #757a84;
        }

        &_theme_blue {
            color: #4d72d3;
        }
    }
}

.authorization__label_person-data {
    display: block;
    position: relative;
    padding-left: rem(24);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.authorization__label_person-data input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.authorization__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: rem(16);
    width: rem(16);
    border: 1px solid #757a84;
    border-radius: rem(4);
}

// .authorization__label_person-data:hover input ~ .checkmark {
//     background-color: #ccc;
// }

.authorization__label_person-data input:checked ~ .authorization__checkmark {
    border: 1px solid #4d72d3;
    background: url("../img/icons/check.svg") center no-repeat;
    background-size: rem(14) rem(7);
}

.authorization__label_person-data:after {
    content: "";
    position: absolute;
    display: none;
}

.authorization__label_person-data input:checked ~ .authorization__checkmark:after {
    display: block;
}

.authorization__label_person-data .authorization__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
