body[data-theme="dark"] {
    .app {
        &__page {
            background-color: #1f1e1d;
        }

        &__aside_left {
            @media (max-width: $tablet) {
                background-color: #2b2929;
            }
        }
    }

    .aside {
        &__head {
            border-bottom: 1px solid #413e3c;
        }
    }

    .input {
        border: 1px solid #413e3c;
        background-color: #1f1e1d;
    }

    .textarea {
        border: 1px solid #413e3c;
        color: #aba6a5;
        background-color: #1f1e1d;
    }

    .logo {
        svg {
            fill: #d1cdc9;
        }
    }

    .stories {
        &__button {
            svg {
                fill: #d1cdc9;
            }
        }
    }

    .post {
        &_theme_default {
            background-color: #2b2929;

            .post__text {
                color: #aba6a5;
            }
        }

        &_theme_dark-blue {
            border: 1px solid #495e94;
            background-color: #495e94;
        }

        &__footer {
            border-top: 1px solid #413e3c;
        }
    }

    .post-info {
        &__num {
            &_theme_black {
                color: #d1cdc9;
            }
        }

        &__date {
            color: #787574;
        }
    }

    .share-post {
        border: 1px solid #413e3c;
        background-color: #2b2929;

        &__item {
            &:not(:first-child) {
                border-top: 1px solid #413e3c;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: #413e3c;
                }
            }
            &:active {
                background-color: #413e3c;
            }
        }

        &__link {
            color: #d1cdc9;
        }
    }

    .ask-us {
        border: 1px solid #b8916d;
        background-color: #b8916d;

        &__icon {
            fill: #a88361;
        }

        &__text {
            color: #f4efe9;
        }
    }

    .podcast-card {
        &__likes {
            color: #787574;
        }
    }

    .post-slider {
        &__pagination {
            & > .swiper-pagination-bullet {
                background-color: #787574 !important;
            }

            & > .swiper-pagination-bullet-active {
                background-color: #d1cdc9 !important;
            }
        }

        &__button {
            svg {
                fill: #d1cdc9;
            }
        }
    }

    .post-survey {
        &__row {
            background-color: rgba(255, 255, 255, 0.1);

            &_active {
                .post-survey__progress {
                    background-color: #667cb4;
                }
            }

            &_select {
                .post-survey__progress {
                    background-color: #6b8ce0;
                }
            }
        }

        &__possible {
            color: #f8f8f8;
        }

        &__result {
            color: #f8f8f8;
            &_active {
                color: #6b8ce0;
            }
        }
    }

    .post-survey__possible > span::before {
        box-shadow: 0 0 0 1px #495e94;
    }

    .button {
        &_theme_default {
            border: 1px solid #413e3c;
            color: #787574;
        }

        &_theme_light-brown {
            border: 1px solid #52473d;
            color: #bab2a9;
            background-color: #453c34;
        }

        &_theme_light-blue {
            border: 1px solid #3c5273;
            color: #b5bbc4;
            background-color: #31435e;
        }

        &_theme_brown {
            background-color: #252525;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #a88361;
                }
            }
            &:active {
                background-color: #a88361;
            }
        }
    }

    .title {
        &_color_131313 {
            color: #d1cdc9;
        }

        &_color_252525 {
            color: #dfddda;
        }
    }

    .social {
        &__link {
            border: 1px solid #474747;
            svg {
                fill: #474747;
            }

            @media (any-hover: hover) {
                &:hover {
                    border-color: #2b2929;
                    background-color: #2b2929;
                }
            }
            &:active {
                border-color: #2b2929;
                background-color: #2b2929;
            }
        }
    }

    .menu {
        &__link {
            &_main {
                color: #dfddda;

                @media (any-hover: hover) {
                    &:hover {
                        color: #d1aa7c;
                    }
                }
            }
        }
    }

    .popup__content_authorization {
        background-color: #2b2929;
    }

    .popup__close_authorization {
        &::before,
        &::after {
            background-color: #d1cdc9;
        }
    }

    .authorization__social {
        border: 1px solid #413e3c;
    }

    .articles-list__link {
        @media (any-hover: hover) {
            &:hover {
                .articles-list__img {
                    background-color: #000000;
                }
            }
        }
    }

    .menu__link_small {
        @media (any-hover: hover) {
            &:hover {
                color: #dfddda;
            }
        }

        &:active {
            color: #dfddda;
        }
    }

    .popular-tags__link {
        @media (any-hover: hover) {
            &:hover {
                border-color: #a5a4a1;
                color: #a5a4a1;
            }
        }

        &:active {
            border-color: #a5a4a1;
            color: #a5a4a1;
        }
    }

    .authorization__text {
        color: #aba6a5;
    }

    .authorization__send {
        background-color: #5681f0;

        @media (any-hover: hover) {
            &:hover {
                background-color: #4d72d3;
            }
        }

        &:active {
            background-color: #4d72d3;
        }
    }

    .share {
        &__list {
            &_column {
                @media (max-width: $mobile) {
                    background-color: #2b2929;
                    border: 1px solid #413e3c;
                }
            }
        }

        &__toggler {
            background-color: #d1aa7c;

            svg {
                fill: #2b2929;
            }
        }
    }

    .hab {
        &__article {
            background-color: #2b2929;
        }

        &__text {
            color: #aba6a5;
        }
    }

    .article-section {
        &_bg_color {
            background-color: #2b2929;
        }

        &__info {
            border-bottom: 1px solid #413e3c;
            &_bg_color {
                background-color: #2b2929;
            }
        }
        &__main {
            background-color: #2b2929;
        }
    }

    .article {
        &__head {
            &_type_bg {
                background-color: #2b2929;
            }
        }

        &__main_bg {
            background-color: #2b2929;
        }

        &__author {
            color: #d1cdc9;
        }

        &__date {
            color: #787574;
        }

        &__text {
            color: #aba6a5;
        }

        &__box {
            &_bg_light-brown {
                background-color: #36312e;
            }
        }

        &__figcaption {
            color: #787574;
        }

        &__highlight {
            color: #aba6a5;
            background-color: #32374f;
        }

        &__title-center {
            span {
                background-color: #413e3c;

                &::before {
                    color: #d1cdc9;
                }
            }
        }

        &__link {
            color: #5681f0;

            @media (any-hover: hover) {
                &:hover {
                    color: #4d72d3;
                }
            }

            &:active {
                color: #4d72d3;
            }
        }

        &__quote-1 {
            color: #d1cdc9;
            &_bg_light-gray {
                background-color: #21201f;
            }
        }

        &__tag {
            @media (any-hover: hover) {
                &:hover {
                    border-color: #a5a4a1;
                    color: #a5a4a1;
                }
            }

            &:active {
                border-color: #a5a4a1;
                color: #a5a4a1;
            }
        }
    }

    .article-read {
        &__title {
            color: #e3deda;
        }

        &_bg_light-blue {
            background: #2c3447;
            box-shadow: 0px 4px 0px #344264;
        }

        &__link {
            border-bottom: 1px solid #5681f0;
            color: #e3deda;

            @media (any-hover: hover) {
                &:hover {
                    border-bottom: 1px solid transparent;
                    color: #5681f0;
                }
            }
            &:active {
                border-bottom: 1px solid transparent;
                color: #5681f0;
            }
        }
    }

    //-----инструкция
    .article-instruction {
        &__marker {
            &::before {
                background-color: #cdb4b7;
            }
        }
        &__number {
            &::before {
                color: #2b2929;
                background-color: #d1cdc9;
            }
        }
        &__insert {
            border: 1px solid #59373b;
            color: #cdb4b7;
            background-color: #492e31;
        }
    }

    .article-list {
        &__item {
            color: #aba6a5;
        }
    }

    //карточки
    .article-cards {
        &__head {
            background-color: #2b2929;
        }

        &__card {
            background-color: #2b2929;

            &::after {
                background: #787574;
            }
        }

        &__bottom {
            background-color: #2b2929;
        }
    }

    .article-contents {
        background-color: #2b2929;

        &__item {
            span {
                &::before {
                    color: #787574;
                }
            }
        }
    }

    .article-comments {
        background-color: #2b2929;

        &__head {
            color: #d1cdc9;
        }

        &__button {
            background-color: #5681f0;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #4d72d3;
                }
            }

            &:active {
                background-color: #4d72d3;
            }
        }
    }

    .comment {
        & > .comments__list {
            border-left: 1px solid #413e3c;
        }

        &__username {
            color: #d1cdc9;
        }

        &__date {
            color: #787574;
        }

        &__reply {
            color: #787574;
        }

        &__text {
            color: #aba6a5;
        }
    }

    .comment-vote {
        &__button {
            border: 1px solid #413e3c;

            &::before {
                background-color: #787574;
            }

            &_dec {
                &::after {
                    background-color: #787574;
                }
            }
        }
    }

    .dzen {
        background-color: #2b2929;
    }

    .article-list {
        &_type_marker {
            .article-list__item {
                &_basic {
                    &::before {
                        background-color: #d1cdc9;
                    }
                }
            }
        }
    }

    .expert {
        &__name {
            color: #d1cdc9;
        }

        &__author {
            color: #aba6a5;
        }
    }

    .choice-edition {
        border-top: 1px solid #413e3c;
        border-bottom: 1px solid #413e3c;

        &__title {
            color: #aba6a5;
        }
    }

    .quote-basic {
        color: #d1cdc9;

        &_quote_3 {
            border: 1px solid #3d3d3d;
            background-color: #373737;

            &::after {
                background: url(../img/icons/quote_black.svg) center no-repeat;
            }
        }

        &_quote_4 {
            border: 1px solid #d1cdc9;
        }
    }

    .quote-1 {
        color: #aba6a5;
    }

    .quote-2 {
        color: #aba6a5;

        &::before {
            background: url(../img/icons/quote_1_black.svg);
        }
    }

    .quote-5 {
        border-left: 8px solid #d1cdc9;

        &__main {
            color: #b8916d;
        }

        &__caprion {
            color: #d1cdc9;
        }
    }

    .ui-button {
        &_type_basic {
            color: #1f1e1d;
        }
        &__grid {
            color: #1f1e1d;
        }

        &__icon {
            svg {
                fill: #1f1e1d;
            }
        }

        &_theme_black {
            background-color: #d1aa7c;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #b8916d;
                    .ui-button__grid {
                        color: #2b2929;
                    }
                    svg {
                        fill: #2b2929;
                    }
                }
            }

            &:active {
                background-color: #d1aa7c;
                .ui-button__grid {
                    color: #2b2929;
                }
                svg {
                    fill: #2b2929;
                }
            }
        }

        &_theme_blue {
            background-color: #5681f0;
            color: #ffffff;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #4d72d3;
                }
            }

            &:active {
                background-color: #4d72d3;
            }
        }
    }

    .article-lists {
        &__title {
            color: #aba6a5;
        }
    }

    .ad-block {
        &__body {
            background-color: #303839;
        }

        &__title {
            color: #a5b2b5;
        }
    }
}
