//====================================================================================================
.main {
    &__wall {
        display: flex;
        flex-direction: column;
        row-gap: rem(16);

        @media (min-width: $mobile) {
            row-gap: rem(24);
        }
    }

    &__stories {
        margin-bottom: rem(16);
        @media (min-width: $tablet) {
            margin-bottom: rem(32);
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            margin-bottom: rem(24);
        }
    }
}
.app {
    &__main {
    }

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 0.45em;
        line-height: 1.25;

        @media (max-width: $mobile) {
            font-size: rem(14);
        }
    }
}

.stories {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(14);
        padding: rem(13) rem(23) rem(8) rem(16);
    }

    &__control {
        display: none;
        @media (min-width: $tablet) {
            display: flex;
            align-items: center;
            column-gap: rem(30);
        }
    }

    &__button {
        svg {
            width: rem(9);
            height: rem(16);
        }
    }

    &__body {
        padding-bottom: rem(15);
        @media (min-width: $mobile) {
            padding-bottom: rem(24);
        }
    }

    &__slider {
        & .swiper-slide-active {
            margin-left: rem(16);
        }
    }
}

.stories-card {
    position: relative;
    margin-left: rem(12);
    padding: rem(2);
    border: 2px solid #d1aa7c;
    border-radius: 11px;
    width: auto !important;
    cursor: pointer;

    &:last-child {
        margin-right: rem(16);
    }

    &__img {
        position: relative;
        @include adaptiveValue(width, 163, 91, 767, 375, 1);
        @include adaptiveValue(height, 248, 134, 767, 375, 1);

        @media (min-width: $mobile) {
            width: rem(163);
            height: rem(248);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(11, 11, 11, 0.5) 100%);
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    &__num {
        display: none;
        @media (min-width: $mobile) {
            position: absolute;
            bottom: rem(14);
            right: rem(14);
            display: flex;
            column-gap: rem(5);
            color: #ffffff;
            svg {
                width: rem(14);
                height: rem(15);
                fill: currentColor;
            }
        }
    }
}

.post {
    border-radius: 8px;
    overflow: hidden;

    &_theme_light-blue {
        background-color: #bce4f9;

        .title {
            color: #131313 !important;
        }

        .post__text {
            color: initial !important;
        }

        .post-info__num {
            color: #252525 !important;
        }
    }

    &_theme_black {
        background-color: #211c26;
    }

    &__link {
        display: block;
    }

    &__video {
    }

    &__player {
        @include adaptiveValue(height, 501, 200, 991, 375, 1);
        @media (min-width: $pc) {
            height: rem(360);
        }

        @media (min-width: $tablet) and (max-width: $pc) {
            @include adaptiveValue(height, 517, 408, 1211, 991, 1);
        }
    }

    &__img {
        width: 100%;
        @include adaptiveValue(height, 481, 180, 991, 375, 1);
        @media (min-width: $pc) {
            height: rem(320);
        }

        @media (min-width: $tablet) and (max-width: $pc) {
            @include adaptiveValue(height, 497, 388, 1211, 991, 1);
        }

        &_gradient {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            &_light-blue {
                &::after {
                    background: linear-gradient(180deg, rgba(188, 228, 249, 0) 50%, #bce4f9 100%);
                }
            }

            &_black {
                &::after {
                    background: linear-gradient(180deg, rgba(33, 28, 38, 0) 50%, #211c26 100%);
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        padding: rem(18) rem(16) rem(21);
        @media (min-width: $mobile) {
            padding: rem(24) rem(16) rem(16);
        }
    }

    &__title {
        margin-bottom: em(8, 22);
    }

    &__text {
        &_color_white {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__slider {
    }

    &__survey {
        padding: rem(5);
    }
}

//====================================================================================================
.ask-us {
    position: relative;

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(8);
        padding: rem(24);
        z-index: 1;
    }

    &__text {
        margin-bottom: em(8, 16);
        text-align: center;
    }

    &__icon {
        position: absolute;
        width: rem(195);
        height: rem(281);

        &_size_small {
            top: calc(-50% + rem(20));
            left: rem(-12);
        }
    }
}

.top-podcasts {
    padding: rem(16) rem(24) rem(24);

    @media (max-width: $mobile) {
        display: none;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(16);
    }

    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: rem(24);
    }
}

.podcast-card {
    &__img {
        width: rem(130);
        height: rem(130);
        margin-bottom: rem(10);

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: em(4, 14);
    }

    &__likes {
        display: flex;
        align-items: center;
        column-gap: rem(5);
    }

    &__icon {
        width: rem(12);
        height: rem(10);
        fill: currentColor;
    }
}

.post-slider {
    position: relative;
    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(12) rem(16);

        @media (min-width: $mobile) {
            padding: rem(12) rem(23);
        }
    }

    &__pagination {
        position: relative !important;
        bottom: 0 !important;

        & > .swiper-pagination-bullet {
            opacity: 1 !important;
            transition: background-color 0.3s, opacity 0.3s !important;
        }

        & > .swiper-pagination-bullet-active {
            opacity: 1 !important;
        }

        @media (max-width: $mobile) {
            & > .swiper-pagination-bullet {
                width: rem(6);
                height: rem(6);
                transform: translateY(-2px);
            }
        }
    }

    &__button {
        svg {
            width: rem(9);
            height: rem(17);
        }
    }

    &__num {
        position: absolute;
        top: rem(16);
        right: rem(16);
        display: inline-flex;
        align-items: center;
        column-gap: rem(6);
        padding: rem(6) rem(10);
        z-index: 1;
        border-radius: 30px;
        color: #ffffff;
        background-color: #252525;

        @media (min-width: $mobile) {
            top: rem(24);
            right: rem(24);
            column-gap: rem(8);
            padding: rem(8) rem(12);
        }

        @media (max-width: $mobile) {
            font-size: rem(14);
        }

        svg {
            width: rem(16);
            height: rem(14);
            fill: currentColor;

            @media (min-width: $mobile) {
                width: rem(18);
                height: rem(15);
            }
        }
    }
}

//---------------------------------------------
.post-survey {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);

    &__row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(8) rem(16) rem(8) rem(20);
        border-radius: 4px;
        overflow: hidden;

        .post-survey__progress {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            border-radius: 4px;
            visibility: hidden;
            transition: width 0.3s, visibility 0.1s;
        }

        &_active {
            .post-survey__progress {
                visibility: visible !important;
            }
        }

        &_select {
            .post-survey__result {
                font-weight: 700;
            }
        }
    }

    &__possible {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        z-index: 1;
        cursor: pointer;
    }

    &__result {
        position: relative;
        z-index: 1;
    }
}

/* для элемента input c type="radio" */
.post-survey__possible > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .post-survey__possible */
.post-survey__possible > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.post-survey__possible > span::before {
    content: "";
    display: inline-block;
    width: rem(24);
    height: rem(24);
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: rem(20);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.post-survey__possible > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #b3d7ff;
}

// /* стили для активной радиокнопки (при нажатии на неё) */
// .post-survey__possible > input:not(:disabled):active + span::before {
//     background-color: #b3d7ff;
//     border-color: #b3d7ff;
// }

// /* стили для радиокнопки, находящейся в фокусе */
// .post-survey__possible > input:focus + span::before {
//     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
// }

// /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
// .post-survey__possible > input:focus:not(:checked) + span::before {
//     border-color: #80bdff;
// }

/* стили для радиокнопки, находящейся в состоянии checked */
.post-survey__possible > input:checked + span::before {
    border: 6px solid #fff;
    background-color: #4d72d3;
    background-size: rem(8) rem(8);
    padding: 6px;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.post-survey__possible > input:disabled + span::before {
    background-color: #e9ecef;
}

.stories-carousel {
    height: 100%;

    .swiper-pagination {
        opacity: 0;
    }

    .swiper-slide-active {
        .swiper-pagination {
            opacity: 1;
        }
    }

    .swiper-slide .stories-carousel__images {
        pointer-events: none;
    }

    .swiper-slide-active .stories-carousel__images {
        pointer-events: initial;
    }

    &__story {
        position: relative;
        height: 100%;
        border-radius: 14px;
        overflow: hidden;

        &:not(.swiper-slide-active) {
            cursor: pointer;
            .stories-carousel__head {
                opacity: 0.5;
            }

            figure {
                background-color: hsla(0, 0%, 0%, 0.78);
            }

            img {
                opacity: 0.35;
                filter: blur(24px);
            }
        }
    }

    &__head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        color: #ffffff;
        line-height: 1.25;
        padding: 1.25rem 1rem 5rem;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 9.07%, rgba(0, 0, 0, 0.45) 100%);
    }

    &__images {
        position: relative;
        min-height: rem(600);
        height: 80vh;

        .swiper-pagination {
            display: flex !important;
            padding: rem(16) !important;
        }

        .swiper-pagination-bullet {
            flex: 1 1 auto !important;
            height: 0.3125rem;
            background-color: #ffffff;
            border-radius: 5px;
            overflow: hidden;
            opacity: 1 !important;
            pointer-events: none;
        }

        .swiper-pagination-bullet-active {
            background-color: #ffffff;
            opacity: 1;
        }
    }

    &__img {
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            transition: opacity 0.3s;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        width: rem(32);
        height: rem(32);
        z-index: 3;
        background-color: #000000;
        border-radius: 50%;
        transition: transform 0.3s, opacity 0.3s;

        @media (min-width: em(639.98)) {
            display: none;
        }
        svg {
            width: rem(9);
            height: rem(16);
            fill: #ffffff;
        }

        &:active {
            transform: scale(0.85);
            opacity: 0.25;
        }
    }

    &__button[disabled] {
        opacity: 0;
    }

    &__button_left {
        left: rem(-12);
    }

    &__button_right {
        right: rem(-12);
    }
}

.stories-carousel__images {
    .swiper-pagination-bullet {
        position: relative;
    }
    .swiper-pagination-bullet:only-child {
        display: block !important;
    }
}

.active-bullet {
    display: inline-block;
    height: 100%;
    width: 0%;
    background: #000000;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.3s;
}

.sw_no_td {
    transition-duration: 0ms !important ;
}

.stories-carousel {
    .swiper-slide > div {
        transform: scale(0.75);
        position: relative;
        height: 100%;
        border-radius: 14px;
        overflow: hidden;
        background-color: #c0c0c0;
    }
    .swiper-slide-active > div {
        transform: scale(1);
    }
}
