body[data-theme="light"] {
    .app {
        &__page {
            background-color: #f0f0f0;
        }

        &__aside_left {
            @media (max-width: $tablet) {
                background-color: #ffffff;
            }
        }
    }

    .aside {
        &__head {
            border-bottom: 1px solid #ebebeb;
        }
    }

    .input {
        border: 1px solid #ebebeb;
        background-color: #f0f0f0;
    }

    .textarea {
        border: 1px solid #ebebeb;
        background-color: #f0f0f0;
    }

    .logo {
        svg {
            fill: #131313;
        }
    }

    .stories {
        &__button {
            svg {
                fill: #252525;
            }
        }
    }

    .post {
        &_theme_default {
            background-color: #ffffff;
        }

        &_theme_dark-blue {
            border: 1px solid #cad4e8;
            background-color: #d7e0ed;
        }

        &__footer {
            border-top: 1px solid #ebebeb;
        }
    }

    .post-info {
        &__num {
            &_theme_black {
                color: #252525;
            }
        }

        &__date {
            color: #757a84;
        }
    }

    .share-post {
        background-color: #ffffff;
        border: 1px solid #ebebeb;

        &__item {
            &:not(:first-child) {
                border-top: 1px solid #ebebeb;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: #ebebeb;
                }
            }
            &:active {
                background-color: #ebebeb;
            }
        }

        &__link {
            color: #252525;
        }
    }

    .ask-us {
        border: 1px solid #e5d9cb;
        background-color: #ebe3d9;
        &__icon {
            fill: #e3dace;
        }

        &__text {
            color: #131313;
        }
    }

    .podcast-card {
        &__likes {
            color: #757a84;
        }
    }

    .post-slider {
        &__pagination {
            & > .swiper-pagination-bullet {
                background-color: #e3e3e3 !important;
            }

            & > .swiper-pagination-bullet-active {
                background-color: #252525 !important;
            }
        }

        &__button {
            svg {
                fill: #252525;
            }
        }
    }

    .post-survey {
        &__row {
            background-color: rgba(255, 255, 255, 0.4);

            &_active {
                .post-survey__progress {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }

            &_select {
                .post-survey__progress {
                    background-color: #acc0f5;
                }
            }
        }

        &__possible {
            color: #131313;
        }

        &__result {
            color: #131313;
            &_active {
                color: #4d72d3;
            }
        }
    }

    .post-survey__possible > span::before {
        box-shadow: 0 0 0 1px #cad4e8;
    }

    .button {
        &_theme_default {
            border: 1px solid #ebebeb;
            color: #757a84;
        }

        &_theme_light-brown {
            border: 1px solid #efe4d7;
            color: #b8916d;
            background-color: #f4efe9;
        }

        &_theme_light-blue {
            border: 1px solid #cfdbef;
            color: #6c94d0;
            background-color: #e7eefa;
        }

        &_theme_brown {
            background-color: #d1aa7c;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #252525;
                }
            }
            &:active {
                background-color: #252525;
            }
        }
    }

    .title {
        &_color_131313 {
            color: #131313;
        }

        &_color_252525 {
            color: #252525;
        }
    }

    .social {
        &__link {
            border: 1px solid #c4c4c4;
            svg {
                fill: #c4c4c4;
            }

            @media (any-hover: hover) {
                &:hover {
                    border-color: #ffffff;
                    background-color: #ffffff;
                }
            }
            &:active {
                border-color: #ffffff;
                background-color: #ffffff;
            }
        }
    }

    .menu {
        &__link {
            &_main {
                color: #252525;

                @media (any-hover: hover) {
                    &:hover {
                        color: #b8916d;
                    }
                }
            }
        }
    }

    .popup__content_authorization {
        background-color: #ffffff;
    }

    .popup__close_authorization {
        &::before,
        &::after {
            background-color: #252525;
        }
    }

    .authorization__social {
        border: 1px solid #ebebeb;
    }

    .articles-list__link {
        @media (any-hover: hover) {
            &:hover {
                .articles-list__img {
                    background-color: #ffffff;
                }
            }
        }
    }

    .menu__link_small {
        @media (any-hover: hover) {
            &:hover {
                color: #252525;
            }
        }

        &:active {
            color: #252525;
        }
    }

    .popular-tags__link {
        @media (any-hover: hover) {
            &:hover {
                border-color: #626262;
                color: #626262;
            }
        }

        &:active {
            border-color: #626262;
            color: #626262;
        }
    }

    .authorization__send {
        background-color: #4d72d3;
        @media (any-hover: hover) {
            &:hover {
                background-color: #5681f0;
            }
        }

        &:active {
            background-color: #5681f0;
        }
    }

    .share {
        &__list {
            &_column {
                @media (max-width: $mobile) {
                    background-color: #ffffff;
                    border: 1px solid #ebebeb;
                }
            }
        }

        &__toggler {
            background-color: #252525;

            svg {
                fill: #ffffff;
            }
        }
    }

    .hab {
        &__article {
            background-color: #ffffff;
        }
    }

    .article-section {
        &_bg_color {
            background-color: #ffffff;
        }

        &__info {
            border-bottom: 1px solid #ebebeb;
            &_bg_color {
                background-color: #ffffff;
            }
        }
        &__main {
            background-color: #ffffff;
        }
    }
    .article {
        &__head {
            &_type_bg {
                background-color: #ffffff;
            }
        }

        &__main_bg {
            background-color: #ffffff;
        }

        &__author {
            color: #252525;
        }

        &__title-center {
            span {
                background-color: #ebebeb;

                &::before {
                    color: #252525;
                }
            }
        }

        &__date {
            color: #757a84;
        }
        &__box {
            &_bg_light-brown {
                background-color: #f6f2ed;
            }
        }

        &__highlight {
            background-color: #ecf1fb;
        }

        &__link {
            color: #4d72d3;

            @media (any-hover: hover) {
                &:hover {
                    color: #5681f0;
                }
            }

            &:active {
                color: #5681f0;
            }
        }

        &__figcaption {
            color: #757a84;
        }

        &__quote-1 {
            &_bg_light-gray {
                background-color: #f4f4f4;
            }
        }
        &__tag {
            @media (any-hover: hover) {
                &:hover {
                    border-color: #626262;
                    color: #626262;
                }
            }

            &:active {
                border-color: #626262;
                color: #626262;
            }
        }
    }

    .article-read {
        &_bg_light-blue {
            box-shadow: 0px 4px 0px rgba(77, 114, 211, 0.3);
            background-color: #f1f5ff;
        }

        &__link {
            border-bottom: 1px solid #4d72d3;
            color: #131313;

            @media (any-hover: hover) {
                &:hover {
                    border-bottom: 1px solid transparent;
                    color: #4d72d3;
                }
            }
            &:active {
                border-bottom: 1px solid transparent;
                color: #4d72d3;
            }
        }
    }

    //-----инструкция
    .article-instruction {
        &__marker {
            &::before {
                background-color: #693d43;
            }
        }

        &__number {
            &::before {
                color: #ffffff;
                background-color: #252525;
            }
        }

        &__insert {
            border: 1px solid #efd4d5;
            color: #693d43;
            background-color: #fde8e9;
        }
    }

    //карточки
    .article-cards {
        &__head {
            background-color: #ffffff;
        }

        &__card {
            background-color: #ffffff;

            &::after {
                background: linear-gradient(0deg, #757a84, #757a84), #aeb1b7;
            }
        }

        &__bottom {
            background-color: #ffffff;
        }
    }

    .article-contents {
        background-color: #ffffff;

        & > div {
            background-color: #ffffff !important;
        }

        &__item {
            span {
                &::before {
                    color: #757a84;
                }
            }
        }
    }

    .article-comments {
        background-color: #ffffff;

        &__head {
            color: #252525;
        }

        &__button {
            background-color: #4d72d3;
            @media (any-hover: hover) {
                &:hover {
                    background-color: #5681f0;
                }
            }

            &:active {
                background-color: #5681f0;
            }
        }
    }

    .comment {
        & > .comments__list {
            border-left: 1px solid #ebebeb;
        }

        &__username {
            color: #131313;
        }

        &__date {
            color: #757a84;
        }

        &__reply {
            color: #757a84;
        }
    }

    .comment-vote {
        &__button {
            border: 1px solid #ebebeb;

            &::before {
                background-color: #757a84;
            }

            &_dec {
                &::after {
                    background-color: #757a84;
                }
            }
        }
    }

    .dzen {
        background-color: #ffffff;
    }

    .article-list {
        &_type_marker {
            .article-list__item {
                &_basic {
                    &::before {
                        background-color: #252525;
                    }
                }
            }
        }
    }

    .expert {
        &__name {
            color: #131313;
        }
    }

    .choice-edition {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }

    .quote-basic {
        color: #252525;

        &_quote_3 {
            border: 1px solid #e6e6e6;
            background-color: #f4f4f4;

            &::after {
                background: url(../img/icons/quote.svg) center no-repeat;
            }
        }

        &_quote_4 {
            border: 1px solid #252525;
        }
    }

    .quote-2 {
        &::before {
            background: url(../img/icons/quote_1.svg);
        }
    }

    .quote-5 {
        border-left: 8px solid #252525;

        &__main {
            color: #b8916d;
        }

        &__caprion {
            color: #252525;
        }
    }

    .ui-button {
        &_type_basic {
            color: #ffffff;
        }

        &__grid {
            color: #ffffff;
        }

        &__icon {
            svg {
                fill: #ffffff;
            }
        }

        &_theme_blue {
            background-color: #4d72d3;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #5681f0;
                }
            }

            &:active {
                background-color: #5681f0;
            }
        }

        &_theme_black {
            background-color: #252525;

            @media (any-hover: hover) {
                &:hover {
                    background-color: #d1aa7c;
                    .ui-button__grid {
                        color: #252525;
                    }
                    svg {
                        fill: #252525;
                    }
                }
            }

            &:active {
                background-color: #d1aa7c;
                .ui-button__grid {
                    color: #252525;
                }
                svg {
                    fill: #252525;
                }
            }
        }
    }

    .ad-block {
        &__body {
            background-color: #dfeff2;
        }

        &__title {
            color: #1c3438;
        }
    }
}
