.popup {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: all 0.3s;

	&_stories {
		padding: rem(30);

		@media (min-width: em(639.98)) {
			padding: rem(30) 0;
		}
	}

	&_authorization {
		@media (min-width: $mobile) {
			padding: 30px 10px;
		}
		@media (max-width: $mobile) {
			bottom: -150%;
		}
	}
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
	opacity: 1;
	bottom: 0;
	@media (max-width: $mobile) {
		bottom: 0;
	}
}
.popup_show .popup__body {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
	visibility: hidden;

	transition: transform 0.3s ease 0s;
	width: 100%;
	height: 100%;
	min-height: 100%;

	&_stories {
		padding: rem(20) 0;
		transform: scale(0);
		@media (min-width: em(1399.98)) {
			padding: rem(20) 0;
		}
		@media (min-width: em(639.98)) and (max-width: $tablet) {
			padding: rem(20) 0;
		}
	}

	&_authorization {
		max-width: rem(666);

		@media (min-width: $mobile) {
			padding: rem(20) rem(80);
			transform: scale(0);
		}

		@media (max-width: $mobile) {
			justify-content: end;
			transform: scale(1);
		}
	}

	.popup__content {
		height: 100%;
		max-width: 100%;
		min-height: 100%;

		&_authorization {
			position: relative;
			border-radius: 8px 8px 0 0;
			@media (min-width: $mobile) {
				border-radius: 8px;
			}
		}
	}
}

.popup__close {
	position: absolute;
	padding: 10px;
	display: block;
	width: rem(18);
	height: rem(14);
	cursor: pointer;
	z-index: 9;
	&::before,
	&::after {
		content: "";
		right: 0;
		position: absolute;
		width: 100%;
		height: rem(2);
		border-radius: 2px;
	}
	&::before {
		top: calc(50% - rem(1));
		transform: rotate(-45deg);
	}
	&::after {
		bottom: calc(50% - rem(1));
		transform: rotate(45deg);
	}

	&_authorization {
		right: rem(22);
		top: rem(22);
	}

	&_stories {
		top: rem(-15);
		right: 0;
		border: 5px solid #000000;
		border-radius: 4px;
		background-color: #000000;

		@media (min-width: em(639.98)) {
			right: rem(10);
		}

		&::before,
		&::after {
			background-color: #ffffff !important;
		}
	}
}
