@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter";
$fontSize: rem(16); //- размер шрифта по умолчанию

// Основные цвета
$mainColor: #0d0d0d; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 375;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1235;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1211.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

.lock {
	overflow: hidden;
	touch-action: none;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

body {
	// Скролл заблокирован

	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	&__page {
		flex: 1 1 auto;
		padding-top: rem(16);

		@media (min-width: $tablet) {
			padding-top: rem(32);
		}
		@media (min-width: $mobile) and (max-width: $tablet) {
			padding-top: rem(24);
		}
	}

	&__container {
		@media (min-width: em(1279.98)) {
			column-gap: rem(40);
		}

		@media (min-width: $tablet) and (max-width: em(1279.98)) {
			column-gap: rem(30);
		}

		@media (min-width: $tablet) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__main {
		flex: 1 1 rem(640);
		overflow: hidden;

		&_error {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			padding-bottom: rem(20);
		}

		&_404 {
			@include adaptiveValue(padding-top, 74, 48, 992, 375, 1);
		}

		&_close {
			padding-top: rem(74);
		}
	}

	&__articles {
		display: flex;
		flex-direction: column;
		row-gap: rem(32);
		flex: 1 1 rem(980);
		overflow: hidden;
		@media (min-width: $tablet) {
			row-gap: rem(64);
		}

		@media (min-width: $mobile) and (max-width: $tablet) {
			row-gap: rem(48);
		}

		&_hab {
			padding-bottom: rem(40);

			@media (min-width: $tablet) {
				padding-bottom: rem(82);
			}
			@media (min-width: $mobile) and (max-width: $tablet) {
				padding-bottom: rem(62);
			}
		}

		&_basic {
			padding-bottom: rem(40);

			@media (min-width: $tablet) {
				padding-bottom: rem(82);
			}
			@media (min-width: $mobile) and (max-width: $tablet) {
				padding-bottom: rem(62);
			}
		}

		&_instruction {
			@media (min-width: $pc) {
				padding-bottom: rem(142);
			}

			@media (min-width: $tablet) and (max-width: $pc) {
				padding-bottom: rem(100);
			}
			@media (min-width: $mobile) and (max-width: $tablet) {
				padding-bottom: rem(60);
			}
			@media (min-width: $mobileSmall) and (max-width: $mobile) {
				padding-bottom: rem(40);
			}
		}
	}

	&__aside {
		&_left {
			@media (min-width: $pc) {
				flex: 0 1 rem(215);
				min-width: rem(180);
			}

			@media (max-width: $tablet) {
				position: fixed;
				top: 0;
				left: -1000%;
				width: rem(254);
				max-height: 100vh;
				min-height: 100%;
				z-index: 99;
				overflow: scroll auto;
				overflow-x: auto;
				visibility: hidden;
				transition: left 0.3s, visibility 0.3s;
			}
		}

		&_none {
			@media (min-width: $tablet) {
				display: none !important;
			}
		}

		&_active {
			@media (max-width: $tablet) {
				left: 0;
				visibility: visible;
			}
		}

		&_right {
			@media (min-width: $pc) {
				flex: 0 1 rem(300);
				min-width: rem(280);
			}
			@media (max-width: $pc) {
				display: none;
			}
		}
	}
}

body[data-theme="light"] {
	.app {
		&__page {
			// background-color: #f0f0f0;
		}
	}
}

body[data-theme="dark"] {
	.app {
		&__page {
			background-color: #1f1e1d;
		}
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}

	padding: 0 rem(8);
	@media (min-width: $mobile) {
		padding: 0 rem(math.div($containerPadding, 2));
	}
}

//------------
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	display: block;
	width: 100%;
	height: rem(48);
	padding: rem(16) rem(13);
	border-radius: 4px;
	color: #757a84;
	transition: border-color 0.3s;

	&::placeholder {
		transition: color 0.3s;
	}

	&:focus {
		border-color: #d1aa7c !important;
		&::placeholder {
			color: transparent;
		}
	}
}
.textarea {
	display: block;
	width: 100%;
	padding: rem(16);
	border-radius: 4px;
	resize: none;
	transition: border-color 0.3s;

	&:focus {
		border-color: #d1aa7c !important;
		&::placeholder {
			color: transparent;
		}
	}

	&::placeholder {
		transition: color 0.3s;
	}
}

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
@import "aside";
@import "popup";
// Подключение стилей отдельных страниц
@import "home";
@import "articles";
@import "error-page";
@import "profile";

@import "light";
@import "dark";
